- name: Bundle data
  run: |
    mkdir -p .bundled
    for dir in */; do
      dir_name="${dir%/}"
      # skip any dirs with '.' prefix
      [[ "$dir_name" == .* ]] && continue

      files=$(find "$dir_name" -name '*.json' -type f)
      if [ -n "$files" ]; then
        find "$dir_name" -name '*.json' -type f | xargs --no-run-if-empty cat | jq -s '.' > ".bundled/${dir_name}.json"
      fi
    done

- name: Commit bundled data
  run: |
    git add .bundled/
    git diff --staged --quiet || git commit -m "[AUTOMATIC] Rebuild bundled data"
    git push